<div class="container">
    <div>
        <h2>{{server.ActiveUser.username}}'s Cart</h2>
    </div>
    <div class="d-flex justify-content-center">
    <div class="empty d-flex justify-content-center align-items-center" *ngIf="isEmpty">
        <div class="">
            <p>Your Cart Is Empty</p>
            <button class="btn btn-dark emptyCart" [routerLink]="['/products/earring']">ADD NOW</button>
        </div>
    </div>
    </div>
    
    <div class="row" *ngIf="!isEmpty">
    <div class="all col-md-9">
        <div *ngFor="let cart of cartItems" >
            <div class="item">
                <div class="row">
               <div class="col-md-4"><a [routerLink]="['/products/earring/'+cart._id]"><img [src]="cart.image"></a></div>
                <div class="col-md-5">
                    <div>{{cart.name}}
                        <div class="buttons d-flex justify-content-between">
                            <button class="btn btn-outline-dark"><i class="fas fa-heart mt-1"></i></button>
                            <button class="btn btn-outline-dark cart" (click)="removeFromCart(cart)"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 price">Rs.{{cart.price}}</div>
                </div>
            <hr>
            </div>
        </div>
            
    </div>
    <div class="col-md-3">
        <div class="bill">
        <h4>Order Summary</h4>
        <div class="amount">
            <p>Cart Total:Rs.{{cartAmount}}</p>
            <p>Delivery:Rs.{{delivery}}</p>
            <hr>
            <p id="total">Amount:Rs.{{totalAmount}}</p>
        </div>
        </div>
        <button class="btn btn-dark checkout">CHECKOUT</button>
    </div>
    </div>
    <button class="btn btn-outline-dark back" *ngIf="!isEmpty" [routerLink]="['/products/earring']"><i class="fas fa-arrow-left"></i></button>

</div>
<simple-notifications></simple-notifications>
