.row{
    margin-top:50px;
}

.col-12.col-md-4.col-sm-6.product{
    width:300px;
    height:390px;
    margin-bottom:50px;

}

img{
    width:300px;
    height:340px;
    
}

.bg-image:hover{
    -webkit-filter: blur(1.75px); /* Chrome, Safari, Opera */
    filter: blur(1.75px);
}





@media (max-width: 768px) {
.col-12.col-md-4.col-sm-6.product{
    width:100%;
    margin-top:50px;
    margin-bottom:20px;
    height: 360px;
    background-size: 360px 360px;
    

}

}

.mainDiv{
    width:300px;
    height:390px;
}

.bg-image{
    height:390px;
}

button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
    height:12%;
    
   
}




.showBtn{
    display:none;
}
.showBtn:hover{
    display:block;
  
}
.col-12.col-md-4.col-sm-6.product:hover .showBtn{
    display:block;

}
.col-12.col-md-4.col-sm-6.product:hover .wishlist{
    display:block;

}

.col-12.col-md-4.col-sm-6.product>.product-details:hover ~ .showBtn{
    display:none
}
.product-details{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
    height:12%;
    font-family: 'Dancing Script', cursive;
    font-size:25px

}
.product-name{
    padding-left:17px;
    color:black;
}
.product-price{
    padding-right:17px;
    color:#f2311f
}
.product-price:hover{
    text-decoration:underline red;
}

.product-name:hover{
    
    color:black;
    text-decoration: none;
   

}
.link-product-name:hover{
    text-decoration: underline black;
}



button:hover{
    background-color: black;
    color:white;
   
}

.showBtn:hover ~ a>.bg-image{
    -webkit-filter: blur(1.75px); /* Chrome, Safari, Opera */
    filter: blur(1.75px);
}



.btn-text{
    font-family: 'Yusei Magic', sans-serif;
}


.wishlist{
    position: absolute;
    top: 12%;
    left: 27%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
    height:12%;
  
    
}
.wishlist:hover ~ .bg-image{
    -webkit-filter: blur(1.75px); /* Chrome, Safari, Opera */
    filter: blur(1.75px);
}

.iconWish{
    fill: red;
}