<div class="d-flex justify-content-center align-items-center mt-5">
<div class="start"><span class="heading">Join Us Here:</span>
    <br/>
    <div class="mt-1">
        <a href="https://www.facebook.com"><i class="fab fa-facebook mr-2" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram insta" aria-hidden="true"></i></a>
        </div>
        <p class="mb-0">
           <span class="heading mt-2">Our Address:</span>
            <br/>
            Et harum quidem rerum facilis est et expedita distinctio,Nam libero tempore
            <br/>
           <span class="heading mt-2">Contact Us :</span>
            <br/>0522-3445234,180023311103
            <br/>
            <span class="heading">Or</span>
            <br/>
            <span class="heading mt-2">E-mail:</span><br/>
            customercare@gmail.com
        </p>
        <p class="mt-3"><i class="fa fa-copyright" aria-hidden="true"></i>Copyrights Reserved</p>
</div>
</div>
