.d-flex{
    height:360px;
 background-color:#191a19;
 color:white;
}

div{
    font-family: 'Courier Prime', monospace;
    font-size:15px;
    text-align:center;
    font-weight:450;
    font-style:italic;
    
}
.insta{
    color:rgb(237, 83, 152);
}
.fab{
    font-size:25px;
}
.copyright{
    font-size:15px;
}
.fa-copyright{
    font-size:14px;
}
.heading{
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
    font-style:italic;
}