<div class="container d-flex justify-content-center" data-aos="flip-left">
    <div class="border">

    <form>
        <h4>RESET PASSWORD</h4>
        <div class="form-group">
        <label>Email:</label>
        <input type="email" placeholder="Email" class="form-control" [(ngModel)]="user.email" name="email" required>
        </div>
      
            <button class="btn btn-dark" (click)="reset()">RESET</button>
    </form>
    
    </div>
    </div>
    <simple-notifications></simple-notifications>
