form{
    width:508px;
    padding-top:30px;
    padding-left:30px;
    font-family: 'Dancing Script', cursive;
    font-size:25px;
}
.border{
    margin-top:60px;
    width:550px;
    height:340px;
}
h4{
    text-align:center;
    font-family: 'Dancing Script', cursive;
}
#register{
    font-family: 'Dancing Script', cursive;
    font-size:25px;
    margin-top:20px;
}
#register a{
    color:black;
}
input{
    font-size:25px;
}
