.nav{
    height:40px;
  
}
#logo{
    height:60px;
}
#logo img{
    height:60px;
    width:60px;
}

.navbar{
   
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    height:55px;

}
.navbar-brand{
    font-size: 30px;
}
h3{
    padding-top:10px;
    font-family: 'Potta One', cursive;
    color:black
}

.nav-item{
    padding-right:15px;
}

